.header-productos-content-banner{
    padding-top: 127px;
    padding-bottom: 28px;
    background: linear-gradient(40deg, rgb(191, 207, 44), rgb(171, 199, 16));
    width: 100%;
    h1{
        color: white;
        text-shadow: 3px 2px 5px rgba(50, 64, 82, 0.466);
        border-left: 5px solid rgb(255, 249, 191);
        padding-left: 0.8em;
        margin-left: 1.2em ;
        margin-right: 2em;
        border-radius: 5px 0px 0px 5px;
    }
}

